<style type="text/css">
    body {
        background-position: 0 -353px;
        background-image: url('../../../images/login-bg.jpg');
        background-size: cover;
    }
</style>

<div class="container login-screen min-height-login-signup ">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login margin-top-200px">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="active" id="login-form-link">Forget Password</span>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="forgetPasswordForm" name="forgetPasswordForm">
                                <div class="form-group">
                                    <input type="text" name="emailAddress" tabindex="1" class="form-control" placeholder="Emaill Address" ng-model="User.Email"
                                           required-error-message="Required" validator="required,email">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <button type="submit" class="form-control btn btn-login ladda-button" ng-click="forgetPassword($event)" validation-submit="forgetPasswordForm" data-style="expand-right" data-size="m">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="panel panel-blue-theme panel-login" ng-hide="settingPassword">
    <div class="panel-heading"><h4><i class="fa fa-lock"></i> Forget Password</h4></div>
    <form id="forgetPasswordForm" name="forgetPasswordForm">
        <div class="panel-body">
            <div class="form-group">
                <label class="text-normal">Email Address</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user icolor"></i></span>
                    <input type="text" class="form-control" placeholder="Emaill Address" name="emailAddress" ng-model="User.Email" required-error-message="Required" validator="required,email">
                </div>
            </div>           

            <a class="btn  btn-peacock btn-md pull-right ladda-button" ng-click="forgetPassword($event)" validation-submit="forgetPasswordForm" data-style="expand-right"
               data-size="m">Submit</a>

        </div>
    </form>
</div>-->
