<style type="text/css">
    body {
        background-position: 0 -353px;
        background-image: url('../../../images/login-bg.jpg');
        background-size: cover;
    }
</style>



<div class="container login-screen min-height-login-signup ">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login margin-top-170px">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="active" id="login-form-link">Reset Password</span>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="resetPasswordForm" name="resetPasswordForm">
                                <div class="form-group">
                                    <input type="password" name="password" tabindex="1" class="form-control" placeholder="New Password"
                                           ng-model="User.password" required-error-message="Required" validator="required">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="ConfirmPassword" tabindex="1" class="form-control" placeholder="confirm Password" id="ConfirmPassword"
                                           data-pwd="{{User.password}}" ng-model="User.ConfirmPassword" validator="confirmpassword,passwordlength">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <button type="submit" class="form-control btn btn-login ladda-button" ng-click="resetPassword($event)" validation-submit="resetPasswordForm" data-style="expand-right" data-size="m">Submit</button>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="panel panel-blue-theme panel-login" ng-hide="settingPassword">
    <div class="panel-heading"><h4><i class="fa fa-lock"></i> Reset Password</h4></div>
    <form id="resetPasswordForm" name="resetPasswordForm">
        <div class="panel-body">
            <div class="form-group">
                <label class="text-normal">New Password</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock icolor"></i></span>
                    <input type="password" class="form-control" placeholder="New Password" name="password" ng-model="User.password" required-error-message="Required" validator="required">
                </div>
            </div>

            <div class="form-group">
                <label class="text-normal">Confirm Password</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock icolor"></i></span>
                    <input type="password" class="form-control" placeholder="confirm Password" id="ConfirmPassword" name="ConfirmPassword" data-pwd="{{User.password}}" ng-model="User.ConfirmPassword" validator="confirmpassword,passwordlength">
                </div>
            </div>

            <a class="btn  btn-peacock btn-md pull-right ladda-button" data-style="expand-right" data-size="m" ng-click="resetPassword($event)" validation-submit="resetPasswordForm">Submit</a>

        </div>
    </form>
</div>-->