<div class="discover-content">
    <div class="container">
        <div class="discover-title">Explore <span>the possibilities of a</span> creative universe </div>
        <p>15 diverse categories. Thousands of amazing projects.</p>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 mobile-size-100">
                <a href="#" class="discover-box">
                    <div class="discover-box-content">
                        <div class="title">Art</div>
                        <div class="project">108 projects</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 mobile-size-100">
                <a href="#" class="discover-box">
                    <div class="discover-box-content">
                        <div class="title">Art</div>
                        <div class="project">108 projects</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 mobile-size-100">
                <a href="#" class="discover-box">
                    <div class="discover-box-content">
                        <div class="title">Art</div>
                        <div class="project">108 projects</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 mobile-size-100">
                <a href="#" class="discover-box">
                    <div class="discover-box-content">
                        <div class="title">Art</div>
                        <div class="project">108 projects</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 mobile-size-100">
                <a href="#" class="discover-box">
                    <div class="discover-box-content">
                        <div class="title">Art</div>
                        <div class="project">108 projects</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 mobile-size-100">
                <a href="#" class="discover-box">
                    <div class="discover-box-content">
                        <div class="title">Art</div>
                        <div class="project">108 projects</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 mobile-size-100">
                <a href="#" class="discover-box">
                    <div class="discover-box-content">
                        <div class="title">Art</div>
                        <div class="project">108 projects</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 mobile-size-100">
                <a href="#" class="discover-box">
                    <div class="discover-box-content">
                        <div class="title">Art</div>
                        <div class="project">108 projects</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 mobile-size-100">
                <a href="#" class="discover-box">
                    <div class="discover-box-content">
                        <div class="title">Art</div>
                        <div class="project">108 projects</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 mobile-size-100">
                <a href="#" class="discover-box">
                    <div class="discover-box-content">
                        <div class="title">Art</div>
                        <div class="project">108 projects</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 mobile-size-100">
                <a href="#" class="discover-box">
                    <div class="discover-box-content">
                        <div class="title">Art</div>
                        <div class="project">108 projects</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 mobile-size-100">
                <a href="#" class="discover-box">
                    <div class="discover-box-content">
                        <div class="title">Art</div>
                        <div class="project">108 projects</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 mobile-size-100">
                <a href="#" class="discover-box">
                    <div class="discover-box-content">
                        <div class="title">Art</div>
                        <div class="project">108 projects</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 mobile-size-100">
                <a href="#" class="discover-box">
                    <div class="discover-box-content">
                        <div class="title">Art</div>
                        <div class="project">108 projects</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 mobile-size-100">
                <a href="#" class="discover-box">
                    <div class="discover-box-content">
                        <div class="title">Art</div>
                        <div class="project">108 projects</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 mobile-size-100">
                <a href="#" class="discover-box">
                    <div class="discover-box-content">
                        <div class="title">Art</div>
                        <div class="project">108 projects</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 mobile-size-100">
                <a href="#" class="discover-box">
                    <div class="discover-box-content">
                        <div class="title">Art</div>
                        <div class="project">108 projects</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="container">
        <div class="common-title">
            <span>Recommendend for you</span>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mobile-size-100">
                <div class="item popular">
                    <div class="item-image">
                        <img src="images/sample/sample-1.jpg">
                    </div>
                    <div class="item-detail">
                        <div class="item-title">
                            Title Lorem Ipsum is simply dummy text of the printing and typesetting i
                        </div>
                        <div class="item-description">
                            Descrioption Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 150
                            Descrioption Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 150
                        </div>
                        <ul class="item-values">
                            <li><i class="fa fa-user value-icon"></i> <span class="value-detail">JECOB WALKER</span></li>
                            <li><i class="fa fa-map-marker value-icon"></i> <span class="value-detail">New York, NY</span></li>
                            <li><i class="fa fa-calendar value-icon"></i> <span class="value-detail">33 Days go</span></li>
                            <li><i class="fa fa-line-chart value-icon"></i> <span class="value-detail">96%</span></li>
                        </ul>
                        <div class="progress item-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mobile-size-100">
                <div class="item popular">
                    <div class="item-image">
                        <img src="images/sample/sample-2.jpg">
                    </div>
                    <div class="item-detail">
                        <div class="item-title">
                            Title Lorem Ipsum is simply dummy text of the printing and typesetting i
                        </div>
                        <div class="item-description">
                            Descrioption Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 150
                            Descrioption Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 150
                        </div>
                        <ul class="item-values">
                            <li><i class="fa fa-user value-icon"></i> <span class="value-detail">JECOB WALKER</span></li>
                            <li><i class="fa fa-map-marker value-icon"></i> <span class="value-detail">New York, NY</span></li>
                            <li><i class="fa fa-calendar value-icon"></i> <span class="value-detail">33 Days go</span></li>
                            <li><i class="fa fa-line-chart value-icon"></i> <span class="value-detail">96%</span></li>
                        </ul>
                        <div class="progress item-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mobile-size-100">
                <div class="item popular">
                    <div class="item-image">
                        <img src="images/sample/sample-3.jpg">
                    </div>
                    <div class="item-detail">
                        <div class="item-title">
                            Title Lorem Ipsum is simply dummy text of the printing and typesetting i
                        </div>
                        <div class="item-description">
                            Descrioption Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 150
                            Descrioption Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 150
                        </div>
                        <ul class="item-values">
                            <li><i class="fa fa-user value-icon"></i> <span class="value-detail">JECOB WALKER</span></li>
                            <li><i class="fa fa-map-marker value-icon"></i> <span class="value-detail">New York, NY</span></li>
                            <li><i class="fa fa-calendar value-icon"></i> <span class="value-detail">33 Days go</span></li>
                            <li><i class="fa fa-line-chart value-icon"></i> <span class="value-detail">96%</span></li>
                        </ul>
                        <div class="progress item-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mobile-size-100">
                <div class="item popular">
                    <div class="item-image">
                        <img src="images/sample/sample-4.jpg">
                    </div>
                    <div class="item-detail">
                        <div class="item-title">
                            Title Lorem Ipsum is simply dummy text of the printing and typesetting i
                        </div>
                        <div class="item-description">
                            Descrioption Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 150
                            Descrioption Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 150
                        </div>
                        <ul class="item-values">
                            <li><i class="fa fa-user value-icon"></i> <span class="value-detail">JECOB WALKER</span></li>
                            <li><i class="fa fa-map-marker value-icon"></i> <span class="value-detail">New York, NY</span></li>
                            <li><i class="fa fa-calendar value-icon"></i> <span class="value-detail">33 Days go</span></li>
                            <li><i class="fa fa-line-chart value-icon"></i> <span class="value-detail">96%</span></li>
                        </ul>
                        <div class="progress item-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mobile-size-100">
                <div class="item">
                    <div class="item-image">
                        <img src="images/sample/sample-5.jpg">
                    </div>
                    <div class="item-detail">
                        <div class="item-title">
                            Title Lorem Ipsum is simply dummy text of the printing and typesetting i
                        </div>
                        <div class="item-description">
                            Descrioption Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 150
                            Descrioption Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 150
                        </div>
                        <ul class="item-values">
                            <li><i class="fa fa-user value-icon"></i> <span class="value-detail">JECOB WALKER</span></li>
                            <li><i class="fa fa-map-marker value-icon"></i> <span class="value-detail">New York, NY</span></li>
                            <li><i class="fa fa-calendar value-icon"></i> <span class="value-detail">33 Days go</span></li>
                            <li><i class="fa fa-line-chart value-icon"></i> <span class="value-detail">96%</span></li>
                        </ul>
                        <div class="progress item-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mobile-size-100">
                <div class="item">
                    <div class="item-image">
                        <img src="images/sample/sample-6.jpg">
                    </div>
                    <div class="item-detail">
                        <div class="item-title">
                            Title Lorem Ipsum is simply dummy text of the printing and typesetting i
                        </div>
                        <div class="item-description">
                            Descrioption Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 150
                            Descrioption Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 150
                        </div>
                        <ul class="item-values">
                            <li><i class="fa fa-user value-icon"></i> <span class="value-detail">JECOB WALKER</span></li>
                            <li><i class="fa fa-map-marker value-icon"></i> <span class="value-detail">New York, NY</span></li>
                            <li><i class="fa fa-calendar value-icon"></i> <span class="value-detail">33 Days go</span></li>
                            <li><i class="fa fa-line-chart value-icon"></i> <span class="value-detail">96%</span></li>
                        </ul>
                        <div class="progress item-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mobile-size-100">
                <div class="item">
                    <div class="item-image">
                        <img src="images/sample/sample-7.jpg">
                    </div>
                    <div class="item-detail">
                        <div class="item-title">
                            Title Lorem Ipsum is simply dummy text of the printing and typesetting i
                        </div>
                        <div class="item-description">
                            Descrioption Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 150
                            Descrioption Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 150
                        </div>
                        <ul class="item-values">
                            <li><i class="fa fa-user value-icon"></i> <span class="value-detail">JECOB WALKER</span></li>
                            <li><i class="fa fa-map-marker value-icon"></i> <span class="value-detail">New York, NY</span></li>
                            <li><i class="fa fa-calendar value-icon"></i> <span class="value-detail">33 Days go</span></li>
                            <li><i class="fa fa-line-chart value-icon"></i> <span class="value-detail">96%</span></li>
                        </ul>
                        <div class="progress item-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mobile-size-100">
                <div class="item">
                    <div class="item-image">
                        <img src="images/sample/sample-8.jpg">
                    </div>
                    <div class="item-detail">
                        <div class="item-title">
                            Title Lorem Ipsum is simply dummy text of the printing and typesetting i
                        </div>
                        <div class="item-description">
                            Descrioption Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 150
                            Descrioption Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 150
                        </div>
                        <ul class="item-values">
                            <li><i class="fa fa-user value-icon"></i> <span class="value-detail">JECOB WALKER</span></li>
                            <li><i class="fa fa-map-marker value-icon"></i> <span class="value-detail">New York, NY</span></li>
                            <li><i class="fa fa-calendar value-icon"></i> <span class="value-detail">33 Days go</span></li>
                            <li><i class="fa fa-line-chart value-icon"></i> <span class="value-detail">96%</span></li>
                        </ul>
                        <div class="progress item-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mobile-size-100">
                <div class="item">
                    <div class="item-image">
                        <img src="images/sample/sample-9.jpg">
                    </div>
                    <div class="item-detail">
                        <div class="item-title">
                            Title Lorem Ipsum is simply dummy text of the printing and typesetting i
                        </div>
                        <div class="item-description">
                            Descrioption Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 150
                            Descrioption Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 150
                        </div>
                        <ul class="item-values">
                            <li><i class="fa fa-user value-icon"></i> <span class="value-detail">JECOB WALKER</span></li>
                            <li><i class="fa fa-map-marker value-icon"></i> <span class="value-detail">New York, NY</span></li>
                            <li><i class="fa fa-calendar value-icon"></i> <span class="value-detail">33 Days go</span></li>
                            <li><i class="fa fa-line-chart value-icon"></i> <span class="value-detail">96%</span></li>
                        </ul>
                        <div class="progress item-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
