<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body style="margin:0;padding:0">
    <div class="header navbar-fixed-top">
        <div class="container-fluid">
            <div class="row">
                <nav class="custom-nav navbar navbar-inverse header-padding">
                    <div class="row m">
                        <div class="col-md-4 col-sm-6">
                        </div>
                        <div class="col-md-4 col-sm-3">
                            <div class="logo text-center" style="background:#222222;padding:10px;text-align:center">
                                <a href="http://distressuity.techbitsolution.com/#/" target="_blank">
                                    <img src="http://distressuity.techbitsolution.com/images/logo.png" width="200" />
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-3">
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="mail-body" style="padding:20px">
        <p>
            Hi <b>{FirstName} {LastName}</b>,
        </p>
        <p style=" padding-left: 10px; padding-right: 10px;">
            Congratulations, You have got a new investor for your project {ProjectName}. To See Investors funding click <a href="http://distressuity.techbitsolution.com/#/project/{EncryptedProjectId}">here</a>
        </p>
        <p>
            Regards,
            <br />
            Distressuity Team
        </p>
    </div>
    <hr style="margin-top:0" />
    <div class="footer">
        <div style="text-align:center">
            <b style="padding-left:20px">
                &#169; 2016 Distressuity. All Rights Reserved.
            </b>
        </div>
    </div>
</body>
</html>
