<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
</head>
<body style="margin:0;padding:0">
    <div class="header navbar-fixed-top">
        <div class="container-fluid">
            <div class="row">
                <nav class="custom-nav navbar navbar-inverse header-padding">
                    <div class="row m">
                        <div class="col-md-4 col-sm-6">
                        </div>
                        <div class="col-md-4 col-sm-3">
                            <div class="logo text-center"  style="background:#222222;padding:10px;text-align:center">
                                <a href="http://distressuity.techbitsolution.com/#/" target="_blank">
									<img src="http://distressuity.techbitsolution.com/images/logo.png" width="200" />
								</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-3">
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="mail-body" style="padding:20px">
        <p>
            Hi <b  >{FirstName} {LastName}</b>,
        </p>
        <p class="padding-left-right-10">
            Congratulations, your project <b ><a style="color:#00c5fe;" href="http://distressuity.techbitsolution.com/#/projectdetail/{EncryptedProjectId}">{Title}</a></b> seems to be nice and has been accepted by out team.
        </p>
        <p>
            <b>Note :</b>
            You can gain attention by adding featured clicks to your project. To add featured clicks hit the button below 
			
        </p>
		<a href="http://distressuity.techbitsolution.com/#/project/{EncryptedProjectId}" style="background: #00c5fe;
    color: #ffffff;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;">Add Clicks</a>
        <p style="margin-bottom:0">
            Regards,
            <br />
            Distressuity Team
        </p>
    </div>
    <hr style="margin-top:0" />
    <div class="footer">
        <div style="text-align:center">
            <b style="padding-left:20px">
                &#169; 2016 Distressuity. All Rights Reserved.
            </b>
        </div>
    </div>
</body>
</html>
