<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
</head>
<body style="margin:0;padding:0">
    <div class="header navbar-fixed-top">
        <div class="container-fluid">
            <div class="row">
                <nav class="custom-nav navbar navbar-inverse header-padding">
                    <div class="row m">
                        <div class="col-md-4 col-sm-6">
                        </div>
                        <div class="col-md-4 col-sm-3">
                            <div class="logo text-center"  style="background:#222222;padding:10px;text-align:center">
                                <a href="http://distressuity.techbitsolution.com/#/" target="_blank">
									<img src="http://distressuity.techbitsolution.com/images/logo.png" width="200" />
								</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-3">
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="mail-body" style="padding:20px">
        <p>
            Hi <b>{FirstName} {LastName}</b>,
        </p>
        <p class="padding-left-right-10">
            Your funding on <a href="http://distressuity.techbitsolution.com/#/projectdetail/{EncryptedProjectId}">{ProjectName}</a> is Approved by it's owner.
        </p>
        <p style="margin-bottom:0">
            Regards,
            <br />
            Distressuity Team
        </p>
    </div>
    <hr style="margin-top:0" />
    <div class="footer">
        <div style="text-align:center">
            <b style="padding-left:20px">
                &#169; 2016 Distressuity. All Rights Reserved.
            </b>
        </div>
    </div>
</body>
</html>
