
<div class="detailes-section-container" ng-cloak>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="tab-description tab-description-aaa active">
                    <h3 style="">List Of Funded Projects</h3>
                </div>
            </div>
            <!--<div class="col-md-12 text-center">
                <div class="tab-description tab-description-aaa active">
                    <select class="form-control" ng-model="selectedStatus" ng-change="searchByStatus()"
                            ng-options="status.Name for status in statusList track by status.StatusId">
                        <option value="">All Project</option> ng-click="getAllConversations()"
                    </select>
                </div>
            </div>-->
            <div class="col-md-12 no-project-found-admin" ng-if="NoProjectFound == true">
                <div class="empty-project-container text-center">
                    <p class="hero-text ng-binding">We didn't find any project.</p>
                </div>
            </div>
            <div class="col-md-12" ng-if="NoProjectFound == false">
                <div class="table-responsive margin-top-25">
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th width="15%">Image</th>
                                <th width="15%">Project Name</th>
                                <th width="15%">Owner</th>
                                <th width="15%">Contact</th>
                                <th width="15%">Amount Received</th>
                                <th width="15%">Site Commission</th>
                                <th width="10%">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="project in FundedProjectsList">
                                <td width="15%">
                                    <img class="user-image" ng-src="/api/Public/GetFileStream?filename={{project.ImagePath}}&id=0&w=100&h=100"
                                         onerror="this.onerror = null; this.src = '/images/superman.jpg'; this.style = 'width: 100px; height:100px'" data-toggle="dropdown"
                                         alt="User Image" role="button" aria-haspopup="true" aria-expanded="true">
                                    <!--<img class="user-image" ng-src="{{project.ImagePath}}" width="100" height="100">-->
                                </td>
                                <td width="15%">
                                   
                                            <span class="user-data" ng-bind="project.ProjectTitle"></span>
                                    
                                </td>
                                <td width="15%">
                                     <span ng-bind="project.User.FirstName" /> <span ng-bind="project.User.LastName" />
                                </td>
                                <td width="15%"><span ng-bind="project.PhoneNumber"></span></td>
                                <td width="10%">$<span ng-bind="project.TotalFundingAmount"></span></td>
                                <td width="10%">$<span ng-bind="project.SiteCommission"></span></td>
                                <td width="20%">
                                    <a href="#projectfunding/{{project.ProjectId}}" class='btn btn-default btn-xs'>
                                         View Details
                                    </a>
                                    <a href="#" prevent-default ng-click="openTransferPaymentPopup(project)" class='btn btn-info btn-xs' ng-if="project.IsTransfered == false">
                                        <span class="fa fa-check"></span> Transfer
                                    </a>
                                   
                                    <!--false,project.ProjectId,$index-->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-include="'/App/views/Pagination.html'"></div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="transferPaymentModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Transfer Details</h4>
                    </div>
                  
                    <form role="form" name="declineMessageForm" class="margin-top-10">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="abc">Amount Received: </label>
                                $<span for="abc" ng-bind="Project.TotalFundingAmount"></span>
                            </div>
                            <div class="form-group">
                                <label for="abc">Site Commission: </label>
                                $<span for="abc" ng-bind="Project.SiteCommission"></span>
                            </div>
                            <div class="form-group">
                                <label for="abc">Transaction Charges: </label>
                                $<span for="abc" ng-bind="Project.ProcessingFees"></span>
                            </div>
                            <div class="form-group">
                                <label for="abc">Amount To be transfered: </label>
                                $<span for="abc" ng-bind="Project.FinalAmount"></span>
                            </div>
                        </div>
                    </form>
                    <div class="popup-footer-buttons">
                        <a href="#" prevent-default ng-class="{disabled: Project.FinalAmount == 0}" ng-click="TransferAmount(Project.PaypalAccount,Project.ProjectId,$event)"
                           data-style="expand-right" data-size="l" class="btn btn-success ladda-button">Continue</a>
                        <a href="#" prevent-default value="Close" ng-click="closeTransferPaymentPopup()" class="btn btn-danger">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
