<div class="detailes-section-container" ng-cloak>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="#projectsReport">
                    <div class="col-md-6 tile">
                        Transfer Report
                    </div>
                </a>
                <a href="#totalEarningReport">
                    <div class="col-md-6 tile">
                        Total Earning Report
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

